@model ForumSystem.Web.ViewModels.Questions.QuestionDisplayViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
       <p>@Html.Raw(Model.Content)</p>
    </div>
</div>